doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="public/css/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap")
        link(rel="icon", href="public/img/favicon.svg", type="image/svg")
        title Rimac Seguros
    body 
        section.container
            .header
                p ¿No tienes cuenta?
                a(href="#") Solicítala aquí 
            .login
                main.login-container
                    h1.login-title ¡Hola!
                    p.login-text Ingresa tus datos para iniciar sesión
                    form.login-container
                        .form-input
                            input(type="email" name="email" placeholder=" " required ) 
                            label Correo Electrónico
                        .form-input
                            input(type="password" name="passwordo" placeholder=" " required)
                            label Contraseña
                    .options
                        label.checkbox-container
                            input(type="checkbox" name="remember")
                            span Recordar datos
                        a.forgot-password(href="#") ¿Olvidaste tu contraseña?
                    button.submit-button(type="submit") Ingresar

